In [1]:
# importing required library  

import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# importing csv data file

nyc = pd.read_csv(r"C:\Users\Asus\Downloads\archive (2)\AB_NYC_2019.csv")

In [ ]:
# Display the first few rows of the dataframe to understand its structure

print(ifood_df.head())

In [3]:
# columns in dataframe

nyc.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [4]:
# Get dimentions of the dataframe

nyc.shape

(48895, 16)

In [5]:
# Basic information 

nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [6]:
# First five rows and columns

nyc.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
# Lastt five rows and columns

nyc.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

## 1. Data Integrity

In [8]:
# Check for valid latitude and longitude ranges

valide_latitude = nyc[(nyc['latitude']>=-90)&(nyc['latitude']<=90)]
valide_longitude = nyc[(nyc['longitude']>=-180)&(nyc['longitude']<=180)]

In [9]:
# Verify consistency of categorical variables

room_types = nyc['room_type'].unique()
room_types

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [10]:
neighbourhood_groups = nyc['neighbourhood_group'].unique()
neighbourhood_groups

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [11]:
neighbourhoods = nyc['neighbourhood'].unique()
neighbourhoods

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Chelsea', 'Crown Heights',
       'Park Slope', 'Windsor Terrace', 'Inwood', 'East Village',
       'Greenpoint', 'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'East Flatbush',
       'Tompkinsville', 'Astoria', 'Clason Point', 'Eastchester',
       'Kingsbridge', 'Two Bridges', 'Queens Village', 'Rockaway Beach',
       'Forest Hills', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook'], dtype=object)

## 2. Missing Data Handling

In [12]:
# Checking null values in dataframe

nyc.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
# Droping null vlaues

nyc.dropna(subset=['name'],inplace=True)
nyc.dropna(subset=['host_name'],inplace=True)

In [14]:
nyc.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                 10037
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [15]:
# Mean imputation for 'reviews_per_month'

mean_reviews_per_month = nyc['reviews_per_month'].mean()
print('mean_reviews_per_month')

mean_reviews_per_month

In [16]:
#filling null values in reviews_per_month column

nyc['reviews_per_month'].fillna(mean_reviews_per_month,inplace = True )
nyc.reviews_per_month.isnull().sum()

0

In [17]:
# filling null values using forward fill for 'last_review'

nyc['last_review'].fillna(method='ffill',inplace = True)
nyc.last_review.isnull().sum()

0

## 3. Duplicate Removal

In [18]:
# Identify duplicate rows

duplicate_mask = nyc.duplicated()

duplicate_mask.sum()

0

In [19]:
# Filter out the duplicate rows

duplicate_rows = nyc[duplicate_mask]

duplicate_rows.sum()

id                                0.0
name                              0.0
host_id                           0.0
host_name                         0.0
neighbourhood_group               0.0
neighbourhood                     0.0
latitude                          0.0
longitude                         0.0
room_type                         0.0
price                             0.0
minimum_nights                    0.0
number_of_reviews                 0.0
last_review                       0.0
reviews_per_month                 0.0
calculated_host_listings_count    0.0
availability_365                  0.0
dtype: float64

In [20]:
num_duplicates = duplicate_mask.sum()
print("Number of duplicates:", num_duplicates)

Number of duplicates: 0

In [21]:
# Identify and remove duplicate records

nyc.drop_duplicates(inplace=True)

print("Shape of DataFrame after removing duplicates:", nyc.shape)

Shape of DataFrame after removing duplicates: (48858, 16)

## 4.Standardization

Consistent Formatting

In [22]:
# Convert column names to uppercase

nyc.rename(columns=lambda x: x.capitalize(),inplace = True)
nyc.columns

Index(['Id', 'Name', 'Host_id', 'Host_name', 'Neighbourhood_group',
       'Neighbourhood', 'Latitude', 'Longitude', 'Room_type', 'Price',
       'Minimum_nights', 'Number_of_reviews', 'Last_review',
       'Reviews_per_month', 'Calculated_host_listings_count',
       'Availability_365'],
      dtype='object')

In [23]:
# Check data types

print("Data Types Before Standardization:")
print(nyc.dtypes)

Data Types Before Standardization:
Id                                  int64
Name                               object
Host_id                             int64
Host_name                          object
Neighbourhood_group                object
Neighbourhood                      object
Latitude                          float64
Longitude                         float64
Room_type                          object
Price                               int64
Minimum_nights                      int64
Number_of_reviews                   int64
Last_review                        object
Reviews_per_month                 float64
Calculated_host_listings_count      int64
Availability_365                    int64
dtype: object

In [24]:
# Convert 'LAST_REVIEW' column to datetime format

nyc['Last_review'] = pd.to_datetime(nyc['Last_review'])

print("Data type of 'Last_review' column:", nyc['Last_review'].dtype)

Data type of 'Last_review' column: datetime64[ns]

In [25]:
import warnings
warnings.filterwarnings('ignore')

In [26]:
# Convert date format YYYY-MM-DD to DD/MM/YYYY


nyc['Last_review'] = pd.to_datetime(nyc['Last_review']).dt.strftime('%d/%m/%Y')

print(nyc['Last_review'])

0        19/10/2018
1        21/05/2019
2        21/05/2019
3        05/07/2019
4        19/11/2018
            ...
48890    08/07/2019
48891    08/07/2019
48892    08/07/2019
48893    08/07/2019
48894    08/07/2019
Name: Last_review, Length: 48858, dtype: object

In [27]:
# converting to EUR using an assumed conversion rate of 1 USD = 0.85 EUR

nyc['Price'] = nyc['Price'] * 0.85
print(nyc['Price'])

0        126.65
1        191.25
2        127.50
3         75.65
4         68.00
          ...
48890     59.50
48891     34.00
48892     97.75
48893     46.75
48894     76.50
Name: Price, Length: 48858, dtype: float64

## 5. Outlier Detection

In [28]:
# Identify outliers using Z-score method

z_scores = stats.zscore(nyc['Price'])  

threshold = 3  # Threshold for identifying outliers (can be adjusted based on the dataset)
outlier_indices = (z_scores > threshold) | (z_scores < -threshold)
outliers = nyc[outlier_indices]

print("Identified Outliers:")
print(outliers)

Identified Outliers:
             Id                                               Name    Host_id  \
496      174966              Luxury 2Bed/2.5Bath Central Park View     836168
762      273190          6 Bedroom Landmark West Village Townhouse     605463
946      363673                   Beautiful 3 bedroom in Manhattan     256239
1105     468613   $ (Phone number hidden by Airbnb) weeks - room f    2325861
1414     634353                Luxury 1Bed with Central Park Views     836168
...         ...                                                ...        ...
48301  36186719           Private Bedroom in the Heart of Chelsea!  268920555
48304  36189195      Next to Times Square/Javits/MSG! Amazing 1BR!  270214015
48305  36189257             2BR Near Museum Mile! Upper East Side!  272166348
48523  36308562  Tasteful & Trendy Brooklyn Brownstone, near Train  217732163
48535  36311055     Stunning & Stylish Brooklyn Luxury, near Train  245712163

           Host_name Neighbourhood_group       Neighbourhood  Latitude  \
496            Henry           Manhattan     Upper West Side  40.77350
762     West Village           Manhattan        West Village  40.73301
946           Tracey           Manhattan     Upper West Side  40.80142
1105         Cynthia           Manhattan     Lower East Side  40.72152
1414           Henry           Manhattan     Upper West Side  40.77428
...              ...                 ...                 ...       ...
48301  Terrence Jake           Manhattan             Chelsea  40.74531
48304        Rogelio           Manhattan      Hell's Kitchen  40.75533
48305    Mary Rotsen           Manhattan     Upper East Side  40.78132
48523          Sandy            Brooklyn  Bedford-Stuyvesant  40.68767
48535        Urvashi            Brooklyn  Bedford-Stuyvesant  40.68245

       Longitude        Room_type    Price  Minimum_nights  Number_of_reviews  \
496    -73.98697  Entire home/apt  1700.00              30                 30
762    -74.00268  Entire home/apt  1105.00               5                 28
946    -73.96931     Private room  2550.00               7                  0
1105   -73.99279     Private room  1105.00               1                  0
1414   -73.98594  Entire home/apt   850.00              30                 44
...          ...              ...      ...             ...                ...
48301  -73.99454     Private room   849.15              30                  0
48304  -73.99866  Entire home/apt  2549.15              30                  0
48305  -73.95262  Entire home/apt  1699.15              30                  0
48523  -73.95805  Entire home/apt  1163.65               1                  0
48535  -73.93417  Entire home/apt  1486.65               1                  0

      Last_review  Reviews_per_month  Calculated_host_listings_count  \
496    05/05/2018           0.330000                              11
762    25/09/2018           0.310000                               4
946    30/07/2018           1.373229                               1
1105   05/07/2019           1.373229                               1
1414   28/09/2015           0.530000                              11
...           ...                ...                             ...
48301  07/07/2019           1.373229                               1
48304  07/07/2019           1.373229                               1
48305  07/07/2019           1.373229                               1
48523  07/07/2019           1.373229                               1
48535  06/07/2019           1.373229                               1

       Availability_365
496                   0
762                 297
946                 365
1105                  0
1414                364
...                 ...
48301               270
48304               222
48305               270
48523               349
48535               303

[388 rows x 16 columns]

In [29]:
print("Identified Outliers:")
print(outliers)

Identified Outliers:
             Id                                               Name    Host_id  \
496      174966              Luxury 2Bed/2.5Bath Central Park View     836168
762      273190          6 Bedroom Landmark West Village Townhouse     605463
946      363673                   Beautiful 3 bedroom in Manhattan     256239
1105     468613   $ (Phone number hidden by Airbnb) weeks - room f    2325861
1414     634353                Luxury 1Bed with Central Park Views     836168
...         ...                                                ...        ...
48301  36186719           Private Bedroom in the Heart of Chelsea!  268920555
48304  36189195      Next to Times Square/Javits/MSG! Amazing 1BR!  270214015
48305  36189257             2BR Near Museum Mile! Upper East Side!  272166348
48523  36308562  Tasteful & Trendy Brooklyn Brownstone, near Train  217732163
48535  36311055     Stunning & Stylish Brooklyn Luxury, near Train  245712163

           Host_name Neighbourhood_group       Neighbourhood  Latitude  \
496            Henry           Manhattan     Upper West Side  40.77350
762     West Village           Manhattan        West Village  40.73301
946           Tracey           Manhattan     Upper West Side  40.80142
1105         Cynthia           Manhattan     Lower East Side  40.72152
1414           Henry           Manhattan     Upper West Side  40.77428
...              ...                 ...                 ...       ...
48301  Terrence Jake           Manhattan             Chelsea  40.74531
48304        Rogelio           Manhattan      Hell's Kitchen  40.75533
48305    Mary Rotsen           Manhattan     Upper East Side  40.78132
48523          Sandy            Brooklyn  Bedford-Stuyvesant  40.68767
48535        Urvashi            Brooklyn  Bedford-Stuyvesant  40.68245

       Longitude        Room_type    Price  Minimum_nights  Number_of_reviews  \
496    -73.98697  Entire home/apt  1700.00              30                 30
762    -74.00268  Entire home/apt  1105.00               5                 28
946    -73.96931     Private room  2550.00               7                  0
1105   -73.99279     Private room  1105.00               1                  0
1414   -73.98594  Entire home/apt   850.00              30                 44
...          ...              ...      ...             ...                ...
48301  -73.99454     Private room   849.15              30                  0
48304  -73.99866  Entire home/apt  2549.15              30                  0
48305  -73.95262  Entire home/apt  1699.15              30                  0
48523  -73.95805  Entire home/apt  1163.65               1                  0
48535  -73.93417  Entire home/apt  1486.65               1                  0

      Last_review  Reviews_per_month  Calculated_host_listings_count  \
496    05/05/2018           0.330000                              11
762    25/09/2018           0.310000                               4
946    30/07/2018           1.373229                               1
1105   05/07/2019           1.373229                               1
1414   28/09/2015           0.530000                              11
...           ...                ...                             ...
48301  07/07/2019           1.373229                               1
48304  07/07/2019           1.373229                               1
48305  07/07/2019           1.373229                               1
48523  07/07/2019           1.373229                               1
48535  06/07/2019           1.373229                               1

       Availability_365
496                   0
762                 297
946                 365
1105                  0
1414                364
...                 ...
48301               270
48304               222
48305               270
48523               349
48535               303

[388 rows x 16 columns]

In [30]:
# Identify outliers 

z_scores = stats.zscore(nyc['Latitude'])

threshold = 3  
outlier_indices = (z_scores > threshold) | (z_scores < -threshold)
outliers = nyc[outlier_indices]

print("Outliers:")
print(outliers)

Outliers:
             Id                                               Name    Host_id  \
433      149777  Artsy 1 bedroom Apt. 20 min to 42nd Grand Cent...     716306
737      267535                  Home Away From Home-Room in Bronx    1402951
1424     639199    Beautiful 4BR/4BA Home, Staten Island, NY City.    1483081
3049    1798271                      Spacious center hall colonial    9430973
3349    2008227                     Private Studio in Private Home    9539641
...         ...                                                ...        ...
48029  36040561                                Nice room to rent 1  230720704
48033  36041232          Nice house room 2 near van cortlandt park  230720704
48154  36109691           Modern and Beautiful Riverdale Apartment  118853924
48441  36267546                              A Home Away From Home  233485864
48799  36438336                                    Seas The Moment  211644523

                     Host_name Neighbourhood_group    Neighbourhood  Latitude  \
433    Dee, Dre & Mama Shelley               Bronx         Woodlawn  40.89747
737                      Clara               Bronx        Wakefield  40.89557
1424                    Marina       Staten Island      Tottenville  40.50868
3049                     Donna       Staten Island          Woodrow  40.53884
3349                    Dianne               Bronx  North Riverdale  40.90804
...                        ...                 ...              ...       ...
48029                       Pp               Bronx  North Riverdale  40.91306
48033                       Pp               Bronx  North Riverdale  40.91167
48154                    Sayar               Bronx  North Riverdale  40.90527
48441                  Jeannie       Staten Island   New Dorp Beach  40.56506
48799                      Ben       Staten Island      Great Kills  40.54179

       Longitude        Room_type   Price  Minimum_nights  Number_of_reviews  \
433    -73.86390  Entire home/apt   65.45               1                197
737    -73.84470     Private room   42.50               2                 15
1424   -74.23986  Entire home/apt  254.15               3                 59
3049   -74.19826  Entire home/apt  595.00               7                  0
3349   -73.90005     Private room   45.05               2                143
...          ...              ...     ...             ...                ...
48029  -73.89389     Private room   34.00               1                  1
48033  -73.89566     Private room   34.00               1                  1
48154  -73.89707  Entire home/apt  127.50              30                  0
48441  -74.10240     Private room   34.00               1                  0
48799  -74.14275     Private room  199.75               1                  1

      Last_review  Reviews_per_month  Calculated_host_listings_count  \
433    23/06/2019           2.490000                               1
737    09/06/2019           0.170000                               1
1424   08/07/2019           0.820000                               1
3049   05/09/2016           1.373229                               1
3349   30/06/2019           2.130000                               1
...           ...                ...                             ...
48029  06/07/2019           1.000000                               3
48033  06/07/2019           1.000000                               3
48154  28/06/2019           1.373229                               1
48441  03/07/2019           1.373229                               2
48799  07/07/2019           1.000000                               1

       Availability_365
433                 309
737                 337
1424                245
3049                  0
3349                263
...                 ...
48029               175
48033               174
48154                89
48441               341
48799                87

[99 rows x 16 columns]

In [31]:
# Identify outliers 

z_scores = stats.zscore(nyc['Longitude'])

threshold = 3  
outlier_indices = (z_scores > threshold) | (z_scores < -threshold)
outliers = nyc[outlier_indices]

print("Outliers:")
print(outliers)

Outliers:
             Id                                               Name    Host_id  \
196       51850                              ( F) Excellent/Pvt Rm      27848
367      105469                   Oceanfront Apartment in Rockaway     547386
571      214917                 New Clean Spacious Bed & Breakfast    1109658
698      258686                               My Home Is Your Home    1233267
957      375249                    Enjoy Staten Island Hospitality    1887999
...         ...                                                ...        ...
48791  36427922                                Home away from home  238163900
48799  36438336                                    Seas The Moment  211644523
48813  36446225  2 bedroom apt, 10 mins from JFK, Subway, & Beach!  115751294
48819  36448215                              Welcome to Quite Cozy  274040642
48889  36484363                                 QUIT PRIVATE HOUSE  107716952

         Host_name Neighbourhood_group    Neighbourhood  Latitude  Longitude  \
196        Jullett              Queens          Jamaica  40.67252  -73.76597
367       Michelle              Queens   Rockaway Beach  40.58615  -73.81245
571         Carmel       Staten Island     Emerson Hill  40.60742  -74.14388
698            Kim              Queens       St. Albans  40.70554  -73.76637
957    Rimma & Jim       Staten Island     Graniteville  40.62109  -74.16534
...            ...                 ...              ...       ...        ...
48791         Lucy              Queens  Cambria Heights  40.68557  -73.72731
48799          Ben       Staten Island      Great Kills  40.54179  -74.14275
48813     Taneisha              Queens        Bayswater  40.61113  -73.76546
48819      Ms. Tou              Queens  Cambria Heights  40.69000  -73.73098
48889      Michael              Queens          Jamaica  40.69137  -73.80844

             Room_type   Price  Minimum_nights  Number_of_reviews Last_review  \
196       Private room   46.75               2                 52  20/05/2019
367       Private room   59.50              27                 13  21/09/2015
571       Private room   68.00               2                  2  08/02/2018
698       Private room   63.75               4                 20  30/12/2015
957       Private room   17.00               3                 80  26/05/2019
...                ...     ...             ...                ...         ...
48791     Private room   42.50               3                  0  07/07/2019
48799     Private room  199.75               1                  1  07/07/2019
48813  Entire home/apt   68.00               2                  0  07/07/2019
48819     Private room   42.50               1                  0  07/07/2019
48889     Private room   55.25               1                  0  08/07/2019

       Reviews_per_month  Calculated_host_listings_count  Availability_365
196             0.490000                               2               365
367             0.130000                               1               335
571             0.050000                               1               158
698             0.230000                               1                 0
957             0.920000                               1               226
...                  ...                             ...               ...
48791           1.373229                               1               176
48799           1.000000                               1                87
48813           1.373229                               1                87
48819           1.373229                               1               175
48889           1.373229                               2               163

[1234 rows x 16 columns]